
  
    /* Styles for the hero image wrapper */
    .hero-image-wrapper {
      position: relative;
      overflow: hidden;
      background-color: #000; /* Dark background color */
    }

    /* Styling for the hero image */
    .hero {
      width: 100%;
      height: auto;
      display: block;
    }

    /* Styling for the vignette overlays */
    .vignette-layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .trailer-vignette {
      background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 100%);
    }

    .hero-vignette {
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    }

    /* Styling for buttons */
    .play-button,
    .info-button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #e50914;
      color: #fff; /* White text */
      border: none;
      cursor: pointer;
      margin-right: 10px;
      transition: background-color 0.2s ease, transform 0.2s ease; /* Button hover transition */
    }

    .info-button {
      background-color: #fff; /* White background for info button */
      color: #000; /* Black text for info button */
    }

    .play-button:hover,
    .info-button:hover {
      background-color: #ff0000; /* Red background on hover */
      transform: scale(1.05); /* Slight scale effect on hover */
    }

    /* Styling for embedded components */
    .button-layer {
      position: absolute;
      bottom: 30%;
      left: 20%;
      border-radius: 10px;
      transform: translateX(-50%);
      text-align: center;
    }

    /* Resetting default margin and padding */
    body, h1, h2, h3, p {
      margin: 0;
      padding: 0;
    }

    .text-overlay,
    .Bros,
    .series-title,
    .series-description {
      position: absolute;
      transform: translate(-50%, -50%);
      text-align: center;
      font-family: 'Helvetica Neue', Arial, sans-serif; /* Modern font */
      color: #fff; /* White text */
      z-index: 1;
    }

    .text-overlay {
      top: 50%;
      left: 20%;
      width: 66vh;
    }

    .Bros {
      top: 30vh;
      left: 16vh;
      font-size: 4vw;
    }

    .series-title {
      font-size: 3vw;
      top: 40vh;
      left: 32vh;
    }

    .series-description {
      font-size: 1.5vw;
    }

    /* Media queries for responsiveness */
    @media screen and (max-width: 768px) {
      .button-layer {
        bottom: 15%; /* Adjusted for smaller screens */
      }

      .text-overlay,
      .Bros,
      .series-title,
      .series-description {
        font-size: 2vw; /* Adjusted font size for smaller screens */
      }
    }
  