/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 20px 20px;
  position: sticky;
  top: 0;
  z-index: 999;
}

/* Netflix logo */
.navbar__logo {
  width: 100px; 
  margin-right: 20px;
  font-weight: 10px; 
}

/* Navbar links */
.navbar__links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px; 
}

.navbar__link a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.navbar__link a:hover {
  color: red;
}

/* Navbar avatar */
.navbar__avatar {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
}
